.mainDiv {
  display: flex;
  /* justify-content: space-evenly; */
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  /* border: 1px solid red; */
}

.btn {
  /* margin-bottom: 100px; */
  height: 50px;
  width: 50px;
  background-color: cadetblue;
  border: 1px solid cadetblue;
  border-radius: 3px;
  margin: 5px 5px;
  font-size: larger;
  font-weight: larger;
}

.input {
  /* margin-top: 50px; */
  height: 100px;
  width: 120px;
  border: 3px solid black;
  background-color: darkgray;
  border-radius: 5px;
}

input {
  font-weight: larger;
  font-size: 100px;
  text-align: center;
}
